body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.network-grid {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ff69b4; /* Màu hồng */
    border-radius: 50%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
